.DetailsContainer {
  /* rgb(105, 96, 112); */
  background: rgb(105, 96, 112);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
  color: white;
}

.DetailsContainer button {
  /* max-width: 10%; */
  background: cyan;
  border-radius: 20%;
}
