.NavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed;
  margin-bottom: 10em; */
}
.Nav {
  display: flex;
  /* justify-content: flex-end; */
  list-style-type: none;
}
.Nav li {
  margin-right: 1em;
}
.nav-icon {
  height: 3em;
  width: 3em;
}
